* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

:root {
  --grey: #282c34;
  --lightGrey: rgba(40, 44, 52, 0.4);
  --success: rgba(46, 204, 113, 0.1);
  --lightSuccess: rgba(46, 204, 113, 0.85);
  --fail: rgba(231, 76, 60, 0.1);
}

body {
  background-color: var(--grey);
}
body * {
  font-family: "Poppins", sans-serif;
}

.appContainer {
  background-color: var(--grey);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; */
  color: white;
}

.nav {
  position: fixed;
  top: 0;
  justify-content: center;
  width: 100vw;
  background: black;
  padding: 1rem;
  z-index: 10;
}

.nav nav li {
  display: block;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  padding: 1rem;
  font-size: 1.5em;
}

.rightNav {
  position: absolute;
  right: 1rem;
}

.logOut {
  background: var(--lightGrey);
  border-radius: 1rem;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.contentContainer {
  display: flex;
  justify-content: center;
  width: 50vw;
}

.loginContainer,
.loginContainer label {
  display: flex;
  flex-direction: column;
}

.loginContainer h1 {
  margin: 0 auto 0 auto;
}

.loginContainer form {
  margin-top: 1rem;
}

.loginContainer label {
  font-size: 1.8em;
  margin: 1rem;
}

.loginContainer input {
  background: black;
  font-size: 1em;
  padding: 0.6rem;
  border: none;
  color: white;
  border-radius: 1rem;
}

.loginContainer [type="submit"] {
  background: black;
  border: none;
  padding: 0.7rem;
  font-size: 1.2em;
  color: white;
  transition: 0.2s;
}

.loginContainer [type="submit"]:hover {
  background: white;
  color: black;
}

.flexCenter {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.success,
.fail {
  font-size: 1.5em;
  border: 0.1rem black solid;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 0.8rem;
}
.success {
  background: var(--success);
}
.fail {
  background: var(--fail);
}

.dontHaveAccount {
  color: rgba(255, 255, 255, 0.6);
}

.popBG {
  position: absolute;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.popContainer {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 2rem;
  background: black;
  filter: drop-shadow(0rem 0rem 0.1rem black);
  border-radius: 1rem;
}
.pop h1 {
  font-size: 3em;
}
.lightSuccess {
  color: var(--lightSuccess);
}
.pop button {
  font-size: 1.2em;
  margin-top: 0.6rem;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}
.pop button a {
  text-decoration: none;
  color: black;
}
.pop button:hover {
  /* color: rgba(0, 0, 0, 0.8); */
  background: rgba(255, 255, 255, 0.8);
}
