* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

:root {
  --grey: #282c34;
  --lightGrey: rgba(40, 44, 52, 0.4);
  --success: rgba(46, 204, 113, 0.1);
  --fail: rgba(231, 76, 60, 0.1);
}

body {
  background-color: var(--grey);
  font-family: "Poppins", sans-serif;
}

.appContainer {
  background-color: var(--grey);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; */
  color: white;
}

.nav {
  position: fixed;
  top: 0;
  justify-content: center;
  width: 100vw;
  background: black;
  padding: 1rem;
}

.nav nav li {
  display: block;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  padding: 1rem;
  font-size: 1.5em;
}

.rightNav {
  position: absolute;
  right: 1rem;
}

.logOut {
  background: var(--lightGrey);
  border-radius: 1rem;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.contentContainer {
  display: flex;
  justify-content: center;
  width: 50vw;
}

.loginContainer,
.loginContainer label {
  display: flex;
  flex-direction: column;
}

.loginContainer h1 {
  margin: 0 auto 0 auto;
}

.loginContainer form {
  margin-top: 1rem;
}

.loginContainer label {
  font-size: 1.8em;
  margin: 1rem;
}

.loginContainer input {
  background: black;
  font-size: 1em;
  padding: 0.6rem;
  border: none;
  color: white;
  border-radius: 1rem;
}

.loginContainer [type="submit"] {
  background: black;
  border: none;
  padding: 0.7rem;
  font-size: 1.2em;
  color: white;
  transition: 0.2s;
}

.loginContainer [type="submit"]:hover {
  background: white;
  color: black;
}

.flexCenter {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.success,
.fail {
  font-size: 1.5em;
  border: 0.1rem black solid;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 0.8rem;
}
.success {
  background: var(--success);
}
.fail {
  background: var(--fail);
}
