* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

:root {
  --grey: #282c34;
  --lightGrey: rgba(40, 44, 52, 0.4);
  --success: rgba(46, 204, 113, 0.1);
  --lightSuccess: rgba(46, 204, 113, 0.85);
  --fail: rgba(231, 76, 60, 0.1);
  --whiteSmoke: rgba(245, 245, 245, 0.9);
  --themeColorPrimary: #3498db;
  --themeColorSecondary: #2980b9;
}

body {
  background-color: var(--grey);
}
body * {
  font-family: "Poppins", sans-serif;
}

/* SHORTCUTS */

.center {
  display: flex;
  justify-content: center;
}
.c {
  margin: 0 auto;
}
.cursorPointer {
  cursor: pointer;
}

/* SHORTCUTS */

.appContainer {
  background-color: var(--grey);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; */
  color: white;
}

.nav {
  position: fixed;
  top: 0;
  justify-content: center;
  width: 100vw;
  background: black;
  padding: 1rem;
  z-index: 10;
}

.nav nav li {
  display: block;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  padding: 1rem;
  font-size: 1.5em;
}

.nav a {
  color: whitesmoke;
  text-decoration: none;
  transition: 0.2s;
}
.nav a:hover {
  color: var(--themeColorPrimary);
  text-decoration: underline;
}

.rightNav {
  position: absolute;
  right: 1rem;
}

.logOut {
  cursor: pointer;
  background: var(--lightGrey);
  border-radius: 1rem;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.contentContainer {
  display: flex;
  justify-content: center;
  width: 50vw;
}

.loginContainer,
.loginContainer label {
  display: flex;
  flex-direction: column;
}

.loginContainer h1 {
  margin: 0 auto 0 auto;
}

.loginContainer form {
  margin-top: 1rem;
}

.loginContainer label {
  font-size: 1.8em;
  margin: 1rem;
}

.loginContainer input {
  background: black;
  font-size: 1em;
  padding: 0.6rem;
  border: none;
  color: white;
  border-radius: 1rem;
}

.loginContainer [type="submit"] {
  background: black;
  border: none;
  padding: 0.7rem;
  font-size: 1.2em;
  color: white;
  transition: 0.2s;
}

.loginContainer [type="submit"]:hover {
  background: white;
  color: black;
}

.flexCenter {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.success,
.fail {
  font-size: 1.5em;
  border: 0.1rem black solid;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 0.8rem;
}
.success {
  background: var(--success);
}
.fail {
  background: var(--fail);
}

.dontHaveAccount {
  color: rgba(255, 255, 255, 0.6);
}

.popBG {
  position: absolute;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.popContainer {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 2rem;
  background: black;
  filter: drop-shadow(0rem 0rem 0.1rem black);
  border-radius: 1rem;
}
.pop h1 {
  font-size: 3em;
}
.lightSuccess {
  color: var(--lightSuccess);
}
.pop button {
  font-size: 1.2em;
  margin-top: 0.6rem;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}
.pop button a {
  text-decoration: none;
  color: black;
}
.pop button:hover {
  /* color: rgba(0, 0, 0, 0.8); */
  background: rgba(255, 255, 255, 0.8);
}

.messagingContainer {
  margin-top: 10rem;
}
.messagingContainer h2 {
  display: flex;
  justify-content: center;
}
.messagingContainer h2 div {
  position: absolute;
  align-self: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  margin-left: 10rem;
  font-size: 0.6em;
}
/* .messagingContainer h2 div span {
  color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
} */
.messageArea {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem 0.2rem 0.2rem 1rem;
  height: 35rem;
  width: 30rem;
  margin: 1rem;
  padding: 1rem;
  overflow: auto;
}
.messageArea::-webkit-scrollbar,
.chatBoxList::-webkit-scrollbar {
  width: 4px;
  transition: 0.1s;
}
/* width */
.messageArea::-webkit-scrollbar,
.chatBoxList::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.messageArea::-webkit-scrollbar-track,
.chatBoxList::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  transition: 0.1s;
}

/* Handle */
.messageArea::-webkit-scrollbar-thumb,
.chatBoxList::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  transition: 0.1s;
}

/* Handle on hover */
.messageArea::-webkit-scrollbar-thumb:hover,
.chatBoxList::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.messageArea span {
  overflow: hidden;
  margin: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  display: block;
  word-wrap: break-word;
  min-height: 1rem;
}
/* .messageArea span#you::before {
  content: "You";
  color: rgba(255, 255, 255, 0.75);
} */
.messageArea span#you {
  color: white;
}
.messageArea span#you div {
  color: rgba(255, 255, 255, 0.75);
}
.messageArea span#you li,
.messageArea span#other li {
  display: inline-flex;
}

.messageArea span#you li:last-child,
.messageArea span#other li:last-child,
.currentTime {
  margin-left: 1rem;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.4);
}
.currentTime {
  display: inline-flex;
  list-style-type: none;
  text-decoration: none;
}
/* .messageArea span#other::before {
  content: "User";
  color: rgba(255, 255, 255, 0.6);
} */
.messageArea span#other div {
  color: rgba(255, 255, 255, 0.6);
}
.messageArea span#other {
  color: rgba(255, 255, 255, 0.85);
}
.messageBoxContainer {
  display: flex;
  justify-content: center;
}
.messageBox {
  display: flex;
  justify-content: center;
  width: 25rem;
}
form.messageBox {
  margin-top: 0.2rem;
}
.messageBox span {
  background: rgba(0, 0, 0, 0.5);
  margin: 1rem;
  border-radius: 1rem;
}
.messageBox input {
  background: none;
  min-height: auto;
}
.messageBox *,
.messageBox input {
  font-size: 1em;
  margin-right: 0.1rem;
  border-radius: 0rem;
  transition: 0.2s;
}
.messageBox button {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0rem 1rem 1rem 0rem;
  border: none;
  padding: 1rem;
}
.messageBox button:hover {
  color: white;
  background: rgba(0, 0, 0, 0.7);
}
.whiteSmoke {
  color: var(--whiteSmoke);
}

.directMessagesContainer {
  display: inline-flex;
  margin-top: 1rem;
}
.messagingContainerDM {
  margin-top: -9.7rem;
}
.chatContainer h2 {
  display: flex;
  justify-content: center;
  margin: 1rem 0.3rem 0.3rem 0.3rem;
}
.chatContainer h2 div {
  position: absolute;
  margin-top: -0.8rem;
}
.chatBoxList {
  margin-top: 2.6rem;
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem 0.2rem 0.2rem 1rem;
  height: 35rem;
  overflow: auto;
}
.chatBoxList span {
  font-size: 1.2em;
  padding: 0.7rem;
  margin: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  color: rgba(255, 255, 255, 0.9);
  overflow-wrap: break-word;
}
.addFriend {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.addFriend button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.3em;
  color: var(--whiteSmoke);
  transition: 0.2s;
}
.addFriend button:hover {
  color: white;
  background: rgba(0, 0, 0, 0.7);
}
.friendsContainer h2,
.friendsListContainer .friendsList,
.friendsListContainer h2 {
  display: flex;
  justify-content: center;
}
.friendsListContainer .friendsList .chatBoxList {
  width: 20rem;
  height: 30rem;
}
.friendsContainer h2 {
  margin: 1.5rem 0rem 0rem 0rem;
}
.friendsListContainer h2 {
  margin: 1rem 0rem -1rem 0rem;
}
.frTo,
.frFrom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
.frTo i,
.frFrom i {
  margin: 1rem 0rem 0rem 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  min-width: 2rem;
  min-height: 2rem;
  text-align: center;
}
.frTo i:first-of-type,
.frFrom i:first-of-type {
  margin-left: 1rem;
}
.frTo h3 {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.3em;
  text-align: center;
}

.chatImg {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  filter: drop-shadow(0rem 0rem 0.1rem black);
  border: 0.1rem solid var(--whiteSmoke);
  margin: 0.2rem;
}

.imgModalContainer {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100%;
}
.imgModal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  object-fit: contain;
}
.imgModal a {
  color: white;
  z-index: 3;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -3rem;
  padding: 1rem;
  /* background: black; */
  border-radius: 1rem;
  font-size: 2em;
  text-decoration: none;
}
.imgModalContainer.popIn {
  /* animation-name: popIn;
  animation-duration: 0.2s; */
  transition: 0.2s;
}

/* @keyframes popIn {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
} */

/* ![https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png] */

.gamesAndFriendsListContainer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.gamesAndFriendsListContainer .chatBoxList {
  margin-top: 0rem;
  margin-left: 1rem;
  height: 33.75rem;
}
/* .gamesAndFriendsListContainer .chatBoxList span {
  cursor: pointer;
} */
.gamesAndFriendsListContainer .chatBoxList span div {
  display: inline-flex;
  align-items: center;
  float: right;
  /* cursor: pointer; */
}
.gamesAndFriendsListContainer .chatBoxList .invite,
.gamesAndFriendsListContainer .chatBoxList .invite:active {
  padding: 0.1rem;
  border-radius: 0.2rem;
  border: solid 0.1rem var(--themeColorPrimary);
  background: var(--themeColorSecondary);
}
.gamesAndFriendsListContainer .chatBoxList .invite:hover {
  border: solid 0.1rem var(--themeColorSecondary);
  background: var(--themeColorPrimary);
}
.gamesAndFriendsListContainer .chatBoxList span div i {
  margin-left: 0.3rem;
}
.gamesAndFriendsListContainer .chatBoxList .incoming {
  color: whitesmoke;
  padding: 0.1rem;
  border-radius: 0.2rem;
  border: solid 0.1rem var(--themeColorPrimary);
  background: var(--themeColorSecondary);
}
.gamesAndFriendsListContainer .chatBoxList .incoming:hover {
  border: solid 0.1rem var(--themeColorSecondary);
  background: var(--themeColorPrimary);
}
.gamesAndFriendsListContainer .chatBoxList .incoming:active {
  border: solid 0.1rem var(--themeColorPrimary);
  background: var(--themeColorSecondary);
}
.gamesAndFriendsListContainer .inviteInfo,
.gamesAndFriendsListContainer .chatBoxList .invite {
  font-size: 0.9em;
  font-weight: 300;
}
.game {
  border-radius: 1rem;
  background: black;
  height: 33.75rem;
  width: 60rem;
}
.gamesHeader {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 1rem;
  margin-left: 1rem;
  /* width: 33rem;
  overflow-x: auto; */
}
.gamesHeader h1 {
  margin-right: 3rem;
  transition: 0.1s;
}
.gamesHeader h1:hover {
  color: var(--themeColorPrimary);
}
.gamesHeader span {
  margin: 0rem 1rem 0rem 1rem;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.1s;
  cursor: pointer;
}
.gamesHeader span i {
  margin-left: 0.5rem;
}
.gamesHeader span:hover {
  color: var(--themeColorSecondary);
}
.gamesHeader span:last-child {
  margin-right: 0rem;
}
.gamesHeader .seperator {
  padding: 0rem;
  margin: 0rem 0rem 0rem -2rem;
  height: 3rem;
  width: 0.3rem;
  border-radius: 0.3rem;
  background: rgba(0, 0, 0, 0.6);
}

/* Click Speed Game Start */
.click-speed {
  background: rgba(0, 0, 0, 0.2);
}
.click-speed h1 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.click-speed .timer,
.click-speed .userList {
  font-size: 0.6em;
  align-self: center;
  color: whitesmoke;
}
.click-speed .timer {
  margin-right: 5.5rem;
}
.click-speed .userList {
  margin-left: 5.5rem;
}
.click-speed h2 {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
  margin-bottom: -0.5rem;
}
.click-speed .gameItems {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.click-speed button {
  margin: 1rem;
  padding: 4rem;
  font-size: 2em;
  border-radius: 1rem;
  color: whitesmoke;
  border: solid 0.2rem var(--themeColorPrimary);
  background: var(--themeColorSecondary);
  transition: 0.1s;
}
.click-speed button:hover {
  border: solid 0.2rem var(--themeColorSecondary);
  background: var(--themeColorPrimary);
}
.click-speed button:active {
  transition: 0s;
  border: solid 0.2rem var(--themeColorPrimary);
  background: var(--themeColorSecondary);
}
.click-speed span {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  /* padding: 4rem 0rem 0rem 4rem; */
  width: 1rem;
  height: 15rem;
  margin: 1rem;
}
.click-speed .score {
  background: none;
  display: flex;
  justify-content: center;
}
.click-speed .score span {
  background: none;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  height: 2rem;
  width: 10rem;
  margin-right: 7.1rem;
  margin-left: 7.1rem;
  margin-bottom: -1.5rem;
}
.click-speed .container {
  display: flex;
  justify-content: center;
}
.click-speed .startButton {
  margin-top: 0rem;
  padding: 1rem;
  font-size: 1.5em;
}

/* Click Speed Game End */
